@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
body {
  color: white;
  background-color: #050505; /* Deep rich black */
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Add this to the bottom of app/globals.css */

.video-text {
  /* This puts the video INSIDE the letters */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: url("https://cdn.coverr.co/videos/coverr-waves-in-the-ocean-4626/1080p.mp4"); /* Fallback */
}